<aside role="main">
    <nav>
        <ul>
            <li><a href="/analytics/current_activity" class="<%= "current" if type == "current_activity" %>">Current activity</a></li>
            <li><a href="/analytics/current_locks" class="<%= "current" if type == "current_locks" %>">Current locks</a></li>
            <li><a href="/analytics/index_bloat" class="<%= "current" if type == "index_bloat" %>">Index bloat</a></li>
            <li><a href="/analytics/index_dupes" class="<%= "current" if type == "index_dupes" %>">Index dupes</a></li>
            <li><a href="/analytics/index_sizes" class="<%= "current" if type == "index_sizes" %>">Index sizes</a></li>
            <li><a href="/analytics/index_summary" class="<%= "current" if type == "index_summary" %>">Index summary</a></li>
            <li><a href="/analytics/table_sizes" class="<%= "current" if type == "table_sizes" %>">Table sizes</a></li>
        </ul>
    </nav>
</aside>

<%= render partial: "analytics/#{type}", locals: { type: type } %>

<script type="text/javascript" src="/js/vendor/require.js"></script>
<script type="text/javascript" src="/js/require_config.js"></script>
<script type="text/javascript" src="/js/app/anal.js"></script>
